/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
html {
    /* this is not supported in safari */
    scroll-behavior: smooth;
}

body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
 
}




/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
    text-transform: capitalize;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */



/* Navigation Styles*/
.navbar__menu {
    height: 4em;
    overflow: hidden;

}

.expand-menu {
    height:auto;

}

.navbar__menu ul {
    display:grid;
    grid-template-columns: repeat(auto-fit,40%);
    grid-auto-rows: minmax(4em,auto);
    margin: 0 auto;
    text-align: center;
    padding:0;
    justify-content: center;
    overflow-wrap: break-word;
    align-items: center;
    text-transform: capitalize;
}

.navbar__menu li {   
    display: inline-block;
}

.navbar__menu a {
    padding:1.2em;
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #fffff8;
}

.navbar__menu a:hover,
.navbar-active a{
    background: rgb(17, 73, 156);
    color: #eee;
    transition: ease 0.3s all;
    -webkit-transition: ease 0.3s all;
    -moz-transition: ease 0.3s all;
    -ms-transition: ease 0.3s all;
    -o-transition: ease 0.3s all;
}



/* expansion icon rules */

.icon-container {
    padding: 1em;
    display:flex;
    justify-content: center;
}

.icon-container i {
    padding:0 40px;
}



/* back to top icon rule */
.back-to-top {
    all:unset;
}
.back-to-top {
    display:flex;
    width:3em;
    height:3em;
    border-radius: 50%;
    position: fixed;
    bottom:1.5em;
    right:1.5em;
    background: #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 20;
    
}

.back-to-top img {
    width:1.8em;
    
}


/* Header Styles */
.page__header {
    background: #232e54;
    position: fixed;
    top: 0;
    opacity: 1;
    width: 100%;
    z-index: 5;
    transition: top 0.5s ease;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

/* set visibility */
.hidden {
    transition: display 1s;
    display:none;
    -webkit-transition: display 1s;
    -moz-transition: display 1s;
    -ms-transition: display 1s;
    -o-transition: display 1s;
}


@media only screen and (min-width:768px) {
    .navbar__menu ul {
        grid-template-columns: repeat(auto-fit,30%);
    }
}

@media only screen and (min-width:1200px) {
    .navbar__menu ul {
        margin:0 auto;
        width: 60%;
        grid-template-columns: repeat(auto-fit,20%);
    }

}



/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
    
}

.landing__container h2 {
    /* deal with the case of a very very long word */
    display:grid;
    grid-template-columns: 100%;
    overflow-wrap: break-word;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: ease 0.5s all;
    -moz-transition: ease 0.5s all;
    -ms-transition: ease 0.5s all;
    -o-transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}



/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.section-active {
    background: rgba(0, 0, 0, 0.5);
    transition: ease 0.3s all;
    z-index: -100;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%); */
}

section.section-active .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.section-active .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}